sessions/sessions_ex1.o
sessions/sessions_ex2
sessions/sessions_ex3
sessions/sessions_ex4
sessions/sessions_test
sessions/sessions_test1
sessions/sessions_test10
sessions/sessions_test11
sessions/sessions_test12
sessions/sessions_test13
sessions/sessions_test14
sessions/sessions_test15
sessions/sessions_test16
sessions/sessions_test2
sessions/sessions_test3
sessions/sessions_test4
sessions/sessions_test5
sessions/sessions_test6
sessions/sessions_test7
sessions/sessions_test8
sessions/sessions_test9

collective-big-count/diagnostic
collective-big-count/test_allgather
collective-big-count/test_allgatherv
collective-big-count/test_allreduce
collective-big-count/test_alltoall
collective-big-count/test_bcast
collective-big-count/test_gather
collective-big-count/test_gatherv
collective-big-count/test_reduce
collective-big-count/test_scatter
collective-big-count/test_scatterv
collective-big-count/*_uniform_count

comm_split_type/cmsplit_type
